<div class="tab sheet-body {{tab.cssClass}}" data-group="primary" data-tab="notes">
  <section class="notes-tab">
    <div class="inventory">
      <div class="flexrow">
        {{#if isOwnerOrObserver}}
          <div class="languages">
            <div class="item-category-title flexrow">
              <div class="item-name">{{localize "OSE.category.languages"}}</div>
              {{#if @root.owner}}
              <div class="item-controls">
                <a
                  class="item-control item-push"
                  data-action="pushLang"
                  data-array="languages"
                  title="{{localize 'OSE.Add'}}"
                  ><i class="fa fa-plus"></i
                ></a>
              </div>
              {{/if}}
            </div>
            <ol>
              {{#each system.languages.value as |lang|}}
              <li class="item flexrow" data-lang="{{lang}}">
                <div class="item-name">{{lang}}</div>
                {{#if @root.owner}}
                <div class="item-controls">
                  <a
                    class="item-control item-pop"
                    data-action="popLang"
                    data-array="languages"
                    title="{{localize 'OSE.Delete'}}"
                    ><i class="fa fa-trash"></i
                  ></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          </div>
        {{/if}}
        <div class="flex3 description">
          <div class="item-category-title">Biography</div>
          <div>
            <prose-mirror
              name="system.details.biography"
              toggled="true"
              button="true"
              value="{{system.details.biography}}"
              >{{{enrichedBiography}}}</prose-mirror
            >
          </div>
        </div>
      </div>
    </div>
    {{#if isOwnerOrObserver}}
      <div class="inventory notes">
        <div class="item-category-title">{{localize "OSE.category.notes"}}</div>
        <div class="resizable-editor">
          <prose-mirror
            name="system.details.notes"
            toggled="true"
            button="true"
            value="{{system.details.notes}}"
            >{{{enrichedNotes}}}</prose-mirror
          >
        </div>
      </div>
    {{/if}}
  </section>
</div>
